html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  /*grid-gap: 20px 50px;*/
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

header {
  background-color: yellow;
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  /*grid-column: 1/3;
  grid-row: 3/4;*/
  grid-area: header;
}

main {
  background-color: blue;
  grid-area: main;
}

aside {
  background-color: #7159c1;
  grid-area: aside;
}

footer {
  background-color: red;
  grid-area: footer;
}
